@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

@import "reset.css";
@import "start.css";

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Serif KR', serif;
    background-color: rgb(245, 245, 234);
    

}

